<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
      PROVA SOFTWARE VISUAL - 
    </h1>
    <h2>Arthur Mitsuo Matsuzaka Ferreira</h2>
    <h3>O visual não tá bonitão</h3>
   
    <button mat-raised-button routerLink="/pages/tarefa/listar">Listar</button>
    <button mat-raised-button routerLink="/pages/tarefa/cadastrar">Cadastrar</button>
    <button mat-raised-button routerLink="/pages/tarefa/alterar">Alterar Status</button>
    <button mat-raised-button routerLink="/pages/tarefa/concluidas">Concluídas</button>
    <button mat-raised-button routerLink="/pages/tarefa/naoconcluidas">Não Concluídas</button>
  <router-outlet></router-outlet>