<p>
    cadastrar works!
</p>
<mat-card>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" id="titulo">
        <mat-label>Título</mat-label>
        <input 
          placeholder="Título"
          matInput 
          type="text"
          [(ngModel)]="titulo"
          required>
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" id="descricao">
        <mat-label>Descrição</mat-label>
        <input 
          placeholder="Descrição"
          matInput 
          type="text" 
          [(ngModel)]="descricao"
          required>
      </mat-form-field></td>
    </tr></table>

    <mat-form-field appearance="fill" id="categoriaId">
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="categoriaId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let c of categorias" [value]="c.categoriaId">
          {{c.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="cadastrar()" mat-raised-button color="accent">Cadastrar</button>

</mat-card>